/* opcity animation for signIn modal */
.modal_animate {
    animation: animateopacity 0.8s;
    -webkit-animation: animateopacity 0.8s;
}

@-webkit-keyframes animateopacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes animateopacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}