@import url('https://fonts.googleapis.com/css?family=Chonburi&display=swap');

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

/* GENERAL STYLING*/
html,
body {
    width: 100%;
    height: auto;
    margin: 0;
}

.active {
    color: #8A0202 !important;
}

.social_net {
    font: 1em 'Charm', sans-serif, bold;
}

.header_main,
#top_menu,
#top_menu ul,
#footer_line1,
.social_net,
#social_net,
#footer_line2,
#icon_footer {
    display: flex;
    display: -ms-flexbox;
    /* IE10 */
}

.main_container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

/*HEADER STYLING*/
.header_main {
    justify-content: space-between;
    margin: 0 3em;
    max-width: 1200px;
    margin: auto;
}

.logo {
    height: auto;
    width: 100%;
    flex-basis: 150px;
    margin-left: 2.5em;
}

/*TOP NAVIGATION MENU*/
#top_menu {
    align-self: flex-end;
}

#top_menu ul {
    list-style: none;
    align-items: flex-end;
}

#top_menu ul li {
    margin-right: 2.5em;
}

#top_menu ul li a {
    font: 1.2em 'Charm', sans-serif, bold;
    text-decoration: none;
    color: #01385C;
    transition: font-size .4s;
    -webkit-transition: font-size .4s;
    /*Safari and Chrome*/
    -moz-transition: font-size .4s;
    /*Firefox 4*/
    -o-transition: font-size .4s;
}

#top_menu ul li a:hover {
    font-size: 1.6em !important;
}

#top_separator {
    height: 0.5em;
    width: 100vw;
    background-color: #01385C;
}

/* HAMBURGER ICON*/
/* setting width of the icon*/
#burger_button {
    display: none;
    margin-right: 2em;
    background: none;
    font-size: 1.5em;
    border: none;
}

#burger_button div {
    color: #01385C;
}

#burger_icon {
    margin: -2px 8px;
    width: 25px;
}

/*creating  3 bars */
#bar1,
#bar2,
#bar3 {
    background-color: #01385C;
    border-radius: 3px;
    content: '';
    display: block;
    height: 4px;
    margin: 5px 0;
    transition: all .5s ease-in-out;
}

/*MODAL BOX*/
#modal_box {
    background-color: rgb(255, 255, 255);
    border: 0.5px solid #01385C;
    border-radius: 15px;
    display: none;
    height: auto;
    left: 50%;
    width: 500px;
    position: absolute;
    top: 35%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
}

.fa {
    right: 10px;
    top: 10px;
    position: absolute;
    margin-bottom: 20px;
    color: #01385C;
}

.fa:hover {
    color: #8A0202;
}

#login_title {
    font: bold 1.5em 'Open Sans', sans-serif;
    margin-top: 1em;
    margin-bottom: 0.5em;
    color: rgb(70, 136, 180);
}

#log_in {
    display: flex;
    flex-direction: column;
}

.log_in_field {
    margin: 20px 10px;
    height: 2.5em;
    border-radius: 5px;
}

#connect_button {
    background-color: rgb(70, 136, 180);
    border-radius: 10px;
    color: white;
    font: 1.5em 'Open Sans';
    height: 2em;
    margin: 20px 10px;
}

.modal_links {
    color: rgb(70, 136, 180);
    font-family: 'Open sans', sans-serif;
    margin-left: 10px;
    text-align: left;
}

#create_account {
    text-align: center;
    margin-bottom: 10px;
}

#log_in p {
    border-top: 2px solid #01385C;
    color: #01385C;
    font: 1.5em 'Open sans', sans-serif;
    margin-bottom: 5px;
    margin-top: -5px;
    padding-top: 15px;
}

/*MAIN SECTION*/
.top_article {
    position: relative;
}

.top_article>img {
    display: block;
    position: relative;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    max-width: 100%;
    height: auto;
}

.top_article p {
    font-size: 2em;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 20px;
    border-radius: 10px;
    color: white;
}

.top_article svg {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 85%;
    left: 50%;
    transform: translate(-40%, 0);
}

#svg_text {
    font-weight: bold;
}

#svg_text:hover {
    fill: #8A0202;
}

/*LESSONS SECTION*/
section {
    padding: 15px 0;
}

.lesson {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    max-width: 250px;
    height: auto;
}

.lesson_card_text {
    padding: 2px 16px;
}

/*FOOTER*/
footer {
    background-color: #01385C;
}

#footer_main {
    max-width: 1200px;
    margin: auto;
}

#footer_sub_menu ul,
#footer_line2 {
    list-style: none;
    margin-left: 2.5em;
}

.social_net {
    margin-right: 2.5em;
}

#footer_sub_menu ul li a,
#footer_line2 {
    list-style: none;
    text-decoration: none;
    color: white;
    font: 0.8em 'Charm', sans-serif;
}

#footer_line1,
#icon_footer {
    justify-content: space-between;
    align-items: center;
}

#icon_footer img {
    margin-left: 2em;
}

#logo_footer {
    margin-left: 3em !important;
}

.social_net {
    color: white;
    flex-direction: column;
}

.social_net p {
    margin: 0;
}

#social_net {
    justify-content: space-between;
    margin-top: 5px;
}

#footer_line2 {
    justify-content: space-evenly;
}

#footer_line2 a {
    text-decoration: none;
    color: white;
}